<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Form</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

<form action="" method="post" class="form">
    <h1>Регистрация</h1>
    <h1 style="color: white;">Вход</h1>
    {{ form.hidden_tag() }}
    <p>
        <h1>{{ form.name.label }}</h1>
        <div class="input-form">
            {{ form.name(class="form-control") }}
        </div>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <h1>{{ form.password.label }}</h1>
        <div class="input-form">
            {{ form.password(class="form-control", type="password") }}
        </div>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <a>{{ form.submit(type="submit", class="btn btn-primary") }}</a>
    {{ message }}
</form>

</body>
</html>
</form>
</body>
</html>